<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flex Box流式列表</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<ul class="list">
    <li class="item">col1</li>
    <li class="item">col1</li>
    <li class="item">col1</li>
</ul>

<ul class="list col2">
    <li class="item">col2</li>
    <li class="item">col2</li>
    <li class="item">col2</li>
    <li class="item">col2</li>
    <li class="item">col2</li>
</ul>

<ul class="list col3">
    <li class="item">col3</li>
    <li class="item">col3</li>
    <li class="item">col3</li>
    <li class="item">col3</li>
    <li class="item">col3</li>
    <li class="item">col3</li>
    <li class="item">col3</li>
    <li class="item">col3</li>
    <li class="item">col3</li>
    <li class="item">col3</li>
</ul>
</body>
</html>