* {
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 30px;
}

.list .item {
    flex: 0 0 100%;
    margin-bottom: 10px;

    background-color: #F5F4F1;
    text-align: center;
    line-height: 40px;
}

.list.col2 .item {
    flex: 0 0 49%;
}

.list.col3 .item {
    flex: 0 0 32%;
}

body {
    padding: 0 10px;
}

ul {
    list-style: none;
}