<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flex Box圣杯</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header><h2>Header</h2></header>
<section class="content">
    <aside class="left">
        <h2>Left</h2>
        <p>Left</p>
    </aside>
    <section class="main">
        <h2>Main</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto est labore provident quidem. Ad, amet, asperiores assumenda beatae corporis dolorum illum nemo optio porro quidem reiciendis sequi tempora vero.</p>
    </section>
    <aside class="right">
        <h2>Right</h2>
        <p>Right</p>
    </aside>
</section>
<footer><h2>Footer</h2></footer>
</body>
</html>