<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flex Box输入插件</title>
    <link rel="stylesheet" href="icomoon.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<section class="input">
    <span class="add-on">Amount</span>
    <input type="text">
</section>

<section class="input">
    <input type="text">
    <input class="add-on" type="button" value="Go">
</section>

<section class="input">
    <span class="add-on icon icon-search"></span>
    <input type="text">
</section>

<section class="input">
    <input type="text">
    <span class="add-on icon icon-star"></span>
</section>

<section class="input">
    <span class="add-on icon icon-email"></span>
    <input type="text">
    <input class="add-on" type="button" value="Send">
</section>

<section class="input">
    <span class="add-on icon icon-lock"></span>
    <input type="text">
    <input class="add-on" type="button" value="Encrypt">
</section>

</body>
</html>