<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flex Box固定底栏</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <h2>Header</h2>
</header>
<section class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores est id iusto laborum maiores officia possimus, quia ratione voluptatibus. Aperiam eveniet, in! Adipisci aut dignissimos ipsa iure quod voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores est id iusto laborum maiores officia possimus, quia ratione voluptatibus. Aperiam eveniet, in! Adipisci aut dignissimos ipsa iure quod voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores est id iusto laborum maiores officia possimus, quia ratione voluptatibus. Aperiam eveniet, in! Adipisci aut dignissimos ipsa iure quod voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores est id iusto laborum maiores officia possimus, quia ratione voluptatibus. Aperiam eveniet, in! Adipisci aut dignissimos ipsa iure quod voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores est id iusto laborum maiores officia possimus, quia ratione voluptatibus. Aperiam eveniet, in! Adipisci aut dignissimos ipsa iure quod voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores est id iusto laborum maiores officia possimus, quia ratione voluptatibus. Aperiam eveniet, in! Adipisci aut dignissimos ipsa iure quod voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores est id iusto laborum maiores officia possimus, quia ratione voluptatibus. Aperiam eveniet, in! Adipisci aut dignissimos ipsa iure quod voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores est id iusto laborum maiores officia possimus, quia ratione voluptatibus. Aperiam eveniet, in! Adipisci aut dignissimos ipsa iure quod voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores est id iusto laborum maiores officia possimus, quia ratione voluptatibus. Aperiam eveniet, in! Adipisci aut dignissimos ipsa iure quod voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores est id iusto laborum maiores officia possimus, quia ratione voluptatibus. Aperiam eveniet, in! Adipisci aut dignissimos ipsa iure quod voluptatum!</p>
</section>
<footer>
    <h2>Footer</h2>
</footer>
</body>
</html>