<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flex Box悬挂式布局</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<section class="posts">
    <article class="post">
        <img class="author-figure" src="images/scene.jpg" alt="author">
        <div class="body">
            <h2>Wow!!!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nemo perspiciatis vitae. Animi autem beatae corporis deleniti fugiat laboriosam quaerat quisquam rem tempora? Blanditiis dolor doloribus est eveniet molestias totam.</p>
        </div>
    </article>

    <article class="post">
        <img class="author-figure" src="images/scene.jpg" alt="author">
        <div class="body">
            <h2>Wow!!!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nemo perspiciatis vitae. Animi autem beatae corporis deleniti fugiat laboriosam quaerat quisquam rem tempora? Blanditiis dolor doloribus est eveniet molestias totam.</p>
        </div>
    </article>
</section>

<section class="posts col-2">
    <article class="post">
        <img class="author-figure" src="images/scene.jpg" alt="author">
        <div class="body">
            <h2>Wow!!!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nemo perspiciatis vitae. Animi autem beatae corporis deleniti fugiat laboriosam quaerat quisquam rem tempora? Blanditiis dolor doloribus est eveniet molestias totam.</p>
        </div>
    </article>

    <article class="post">
        <img class="author-figure" src="images/scene.jpg" alt="author">
        <div class="body">
            <h2>Wow!!!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nemo perspiciatis vitae. Animi autem beatae corporis deleniti fugiat laboriosam quaerat quisquam rem tempora? Blanditiis dolor doloribus est eveniet molestias totam.</p>
        </div>
    </article>

    <article class="post">
        <img class="author-figure" src="images/scene.jpg" alt="author">
        <div class="body">
            <h2>Wow!!!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nemo perspiciatis vitae. Animi autem beatae corporis deleniti fugiat laboriosam quaerat quisquam rem tempora? Blanditiis dolor doloribus est eveniet molestias totam.</p>
        </div>
    </article>

    <article class="post">
        <img class="author-figure" src="images/scene.jpg" alt="author">
        <div class="body">
            <h2>Wow!!!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nemo perspiciatis vitae. Animi autem beatae corporis deleniti fugiat laboriosam quaerat quisquam rem tempora? Blanditiis dolor doloribus est eveniet molestias totam.</p>
        </div>
    </article>

    <article class="post">
        <img class="author-figure" src="images/scene.jpg" alt="author">
        <div class="body">
            <h2>Wow!!!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nemo perspiciatis vitae. Animi autem beatae corporis deleniti fugiat laboriosam quaerat quisquam rem tempora? Blanditiis dolor doloribus est eveniet molestias totam.</p>
        </div>
    </article>
</section>
</body>
</html>