<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Cell多栏布局</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>Header</header>
<section class="content">
    <aside class="left">
        <h2>Left</h2>
        <p>Something about table-cell for layout. Something about table-cell for layout. Something about table-cell for layout. </p>
    </aside>
    <section class="main">
        <h2>Main</h2>
        <p>Something about table-cell for layout. Something about table-cell for layout. Something about table-cell for layout. </p>
    </section>
    <aside class="right">
        <h2>Right</h2>
        <p>Something about table-cell for layout. Something about table-cell for layout. Something about table-cell for layout. </p>
    </aside>
</section>
<footer>Footer</footer>
</body>
</html>